In [1]:
import pandas as pd 
import numpy as np

In [2]:
data=pd.read_csv('new_loan1.csv')
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
1,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,2,1
2,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,2,1
3,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,2,1
4,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,2,1

In [5]:
data.shape

(480, 12)

In [4]:
data.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [6]:
data['Loan_Status'].value_counts()

Loan_Status
1    332
0    148
Name: count, dtype: int64

## Using train_test_split

In [8]:
X=data.drop(['Loan_Status'],axis=1)
y=data['Loan_Status']

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,stratify=y,random_state=3)

In [11]:
## importing models
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [12]:
##list of models
models=[LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [13]:
def compare_models_train_test():
    for model in models:
        #tranning the model
        model.fit(X_train,y_train)
        #evaluating the model
        test_data_prediction=model.predict(X_test)
        accuracy=accuracy_score(y_test,test_data_prediction)
        print('Accuracy Score of the ',model,'=',accuracy)

In [14]:
compare_models_train_test()

Accuracy Score of the  LogisticRegression(max_iter=1000) = 0.8125
Accuracy Score of the  SVC(kernel='linear') = 0.7916666666666666
Accuracy Score of the  KNeighborsClassifier() = 0.625
Accuracy Score of the  RandomForestClassifier() = 0.7604166666666666

## Using cross validation

In [15]:
from sklearn.model_selection import cross_val_score

In [16]:
models=[LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [17]:
def compare_models_cross_validation():
  for model in models:
    cv_score = cross_val_score(model, X,y, cv=5)
    mean_accuracy = sum(cv_score)/len(cv_score)
    mean_accuracy = mean_accuracy*100
    mean_accuracy = round(mean_accuracy, 2)
    print('Cross Validation accuracies for ', model, '=  ', cv_score)
    print('Accuracy % of the ', model, mean_accuracy)
    print('--------------------------')

In [18]:
compare_models_cross_validation()

Cross Validation accuracies for  LogisticRegression(max_iter=1000) =   [0.80208333 0.78125    0.77083333 0.86458333 0.80208333]
Accuracy % of the  LogisticRegression(max_iter=1000) 80.42
--------------------------
Cross Validation accuracies for  SVC(kernel='linear') =   [0.79166667 0.78125    0.76041667 0.82291667 0.71875   ]
Accuracy % of the  SVC(kernel='linear') 77.5
--------------------------
Cross Validation accuracies for  KNeighborsClassifier() =   [0.67708333 0.67708333 0.66666667 0.58333333 0.64583333]
Accuracy % of the  KNeighborsClassifier() 65.0
--------------------------
Cross Validation accuracies for  RandomForestClassifier() =   [0.8125     0.76041667 0.80208333 0.82291667 0.8125    ]
Accuracy % of the  RandomForestClassifier() 80.21
--------------------------